.contact-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--clamp-1-to-2) * 3);
}

.contact__links-container {
  width: 100%;
  max-width: 32rem;
  padding: calc(var(--clamp-2-to-3) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--clamp-1-to-2) * 1.5);
}

.links-heading {
  display: none;
}

.contact__links {
  position: relative;
  width: 100%;
}

.pleiades {
  stroke: var(--clr-slate-500);
  stroke-width: 5;
}

.contact__link {
  width: var(--clamp-2-to-3);
  position: absolute;
  transform: translate(-50%, -50%);
  fill: var(--clr-sky);
  transition: fill 0.3s;
}

.contact__link:hover {
  fill: var(--clr-dark-sky);
}

.contact__link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 0 calc(var(--clamp-3-to-4) / 2) 0.625rem var(--clr-sky);
  transition: box-shadow 0.3s;
}

.contact__link:hover::after {
  box-shadow: 0 0 var(--clamp-2-to-3) 1rem var(--clr-dark-sky);
}

.contact__link svg {
  aspect-ratio: 1;
}

.contact__form-container {
  width: 100%;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--clamp-1-to-2) * 1.5);
}

.contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: calc(var(--clamp-2-to-3) / 2);
  padding: calc(var(--clamp-5-to-12) / 4);
  font-size: calc(var(--clamp-2-to-3) / 2);
  background-color: var(--clr-dark-gray);
  border: 1px solid var(--clr-dark-sky);
  border-radius: 1rem;
}

.contact-form-heading {
  display: none;
}

.contact__field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: calc(var(--clamp-1-to-2) / 4);
}

.contact__field-container label {
  color: var(--clr-sky);
}

.contact__field {
  width: 100%;
  padding: 0.5em;
  border: 2px solid var(--clr-slate-500);
  background-color: var(--clr-gray);
  color: var(--clr-white);
  border-radius: 0.5rem;
  transition: border-color 0.3s;
}

.contact__field:focus {
  border-color: var(--clr-sky);
}

.contact__field:focus {
  outline: none;
}

#contact__message {
  height: calc(var(--clamp-2-to-3) * 4);
  resize: none;
}

#contact__submit {
  margin: auto;
  padding: 0.25em 0.5em;
  color: var(--clr-dark-gray);
  border-radius: 0.5rem;
  background-color: var(--clr-dark-sky);
  box-shadow: 0 0 1rem 0 var(--clr-dark-sky);
  transition: background-color 0.3s, box-shadow 0.3s;
}

#contact__submit:hover {
  background-color: var(--clr-sky);
  box-shadow: 0 0 1.2rem 0.2rem var(--clr-sky);
}

@media (min-width: 768px) {
  .contact-section .container {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: var(--clamp-1-to-2);
  }

  .contact__mobile-heading {
    display: none;
  }

  .contact__links-container {
    order: 2;
    padding-top: 0;
  }

  .contact__form-container {
    max-width: 32rem;
    padding: calc(var(--clamp-2-to-3) / 2);
    padding-top: 0;
  }

  .links-heading {
    display: block;
  }

  .contact-form-heading {
    display: block;
  }
}
