.home-section {
  position: relative;
  overflow: hidden;
}

.home-section .container {
  min-height: calc(100vh - var(--clamp-1-to-2) * 3);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr;
  gap: 0;
}

.home__animation-container {
  width: min(100vw, 1536px);
  height: min(250vw, calc(2 * 1536px));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  pointer-events: none;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.home__animation-loading {
  position: absolute;
  top: 47%;
  left: 50%;
  width: var(--clamp-2-to-5);
  height: var(--clamp-2-to-5);
  border-radius: 50%;
  border: 6px solid transparent;
  border-top: 6px solid var(--clr-sky);
  border-left: 6px solid var(--clr-sky);
  animation: spin 1s infinite linear;
}

.home__fallback {
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.home__heading {
  font-size: var(--clamp-2-to-5);
}

.home__hello {
  font-size: var(--clamp-5-to-12);
  color: var(--clr-teal);
}

.home__name {
  color: var(--clr-sky);
}

.home__info-container {
  grid-area: 2 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--clamp-1-to-2);
  font-size: calc(var(--clamp-2-to-3) / 2);
}

.home__desc {
  text-align: center;
  max-width: 40ch;
}

.home__cta-container {
  display: flex;
  gap: var(--clamp-1-to-2);
}

.home__cta {
  padding: 0.25em 0.5em;
  color: var(--clr-dark-gray);
  background-color: var(--clr-dark-teal);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 var(--clr-dark-teal);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.home__cta:hover {
  background-color: var(--clr-teal);
  box-shadow: 0 0 1.2rem 0.2rem var(--clr-teal);
}

.home__links {
  display: flex;
  gap: calc(var(--clamp-1-to-2) / 2);
}

.home__link {
  width: var(--clamp-2-to-3);
  position: relative;
  fill: var(--clr-sky);
  transition: fill 0.3s;
}

.home__link:hover {
  fill: var(--clr-dark-sky);
}

.home__link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 0 calc(var(--clamp-3-to-4) / 2) 0.625rem var(--clr-sky);
  transition: box-shadow 0.3s;
}

.home__link:hover::after {
  box-shadow: 0 0 var(--clamp-2-to-3) 1rem var(--clr-dark-sky);
}

.home__link svg {
  aspect-ratio: 1;
}