.projects-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--clamp-1-to-2) * 1.5);
}

.projects__list {
  width: 100%;
  max-width: 48rem;
  display: grid;
  gap: var(--clamp-1-to-2);
}

.project-container {
  width: 100%;
}

.project {
  display: grid;
  gap: calc(var(--clamp-1-to-2) / 2);
  padding: calc(var(--clamp-1-to-2) / 2);
  border: 1px solid var(--clr-dark-sky);
  border-radius: 1rem;
  transition: background-color 0.3s;
}

.project:hover {
  background-color: rgba(238, 238, 238, 0.05);
}

.project__heading {
  font-size: calc(var(--clamp-2-to-3) / 2);
  color: var(--clr-sky);
}

.project__links {
  display: flex;
  gap: 0.5rem;
}

.project__link {
  width: calc(var(--clamp-3-to-4) / 2);
  fill: var(--clr-white);
  transition: fill 0.3s;
}

.project__link:hover {
  fill: var(--clr-sky);
}

.project__desc {
  font-size: calc(var(--clamp-4-to-5) / 4);
}

.project__desc strong {
  color: var(--clr-dark-teal);
}

.project__tagslist {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--clamp-1-to-2) / 2);
  font-size: calc(var(--clamp-4-to-5) / 4);
}

.project__tag {
  padding: 0.25em 0.5em;
  background-color: rgba(14, 174, 249, 0.2);
  border: 2px solid var(--clr-sky);
  border-radius: 1rem;
}

.project__image {
  width: 10rem;
  border: 1px solid var(--clr-slate-500);
  border-radius: 1rem;
}

@media (min-width: 640px) {
  .project {
    grid-template-columns: auto 1fr;
  }

  .project__image {
    grid-area: 1 / 1 / span 4 / span 1;
  }
}

@media (min-width: 1024px) {
  .projects__list {
    max-width: 80rem;
    grid-template-columns: 1fr 1fr;
  }

  .project__image {
    width: 8rem;
    grid-area: 1 / 1 / span 3 / span 1;
  }

  .project__tagslist {
    grid-area: 4 / 1 / span 1 / span 2;
  }
}
