.skills-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--clamp-1-to-2) * 1.5);
  overflow: hidden;
}

.skills__content {
  width: 100%;
  max-width: 64rem;
  display: grid;
  gap: calc(var(--clamp-1-to-2) / 2);
}

.skills__overlay {
  position: relative;
  margin: 1rem 0;
}

.skills__overlay span {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(var(--clamp-7-to-9) / 8);
  color: var(--clr-sky);
}

.skills__overlay span::after {
  content: "";
  height: 400vw;
  position: absolute;
  top: 125%;
  left: 50%;
  border-left: 1px solid var(--clr-sky);
}

.skills__type {
  z-index: 10;
  font-size: calc(var(--clamp-1-to-2) + 0.25rem);
  color: var(--clr-lime);
  background-color: var(--clr-gray);
}

.skill {
  display: grid;
  grid-auto-rows: 1fr;
}

.skill__desc {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  z-index: 10;
  font-size: calc(var(--clamp-2-to-3) / 2);
  background-color: var(--clr-gray);
}

.skill__bar-container {
  background-color: var(--clr-black);
  border: 1px solid var(--clr-slate-500);
  border-radius: 1rem;
  overflow: hidden;
}

.skill__bar {
  width: 0;
  height: 100%;
  background-color: var(--clr-dark-teal);
  transition: width 1s ease-in-out;
  border-radius: 1rem;
}

@media (min-width: 640px) {
  .skills__content {
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: -moz-min-content 1fr;
    grid-template-columns: min-content 1fr;
  }

  .skills__overlay {
    grid-column: 2;
  }

  .skills__type {
    grid-column: span 2;
  }

  .skill {
    grid-column: span 2;
    grid-template-columns: subgrid;
  }
}
