/* Common Breakpoints */

/* xs 480px */
/* sm 640px */
/* md 768px */
/* lg 1024px */
/* xl 1280px */
/* 2xl 1536px */

/* @media (min-width: size) {} */

:root {
  /* colors */
  --clr-black: #020617;
  --clr-dark-gray: #22252a;
  --clr-gray: #2b2e34;
  --clr-white: #eeeeee;
  --clr-teal: #76ead7;
  --clr-dark-teal: #2adec1;
  --clr-sky: #7dd3fc;
  --clr-lime: #c4fb6d;
  --clr-dark-sky: #0eaef9; /* rgb(14, 174, 249) */
  --clr-slate-500: #64748b;

  /* responsive sizes */
  --clamp-1-to-2: clamp(1rem, 0.737rem + 1.316vw, 2rem);
  --clamp-2-to-3: clamp(2rem, 1.737rem + 1.316vw, 3rem);
  --clamp-3-to-4: clamp(3rem, 2.737rem + 1.316vw, 4rem);
  --clamp-2-to-5: clamp(2rem, 1.211rem + 3.947vw, 5rem);
  --clamp-3-to-5: clamp(3rem, 2.474rem + 2.632vw, 5rem);
  --clamp-4-to-5: clamp(4rem, 3.737rem + 1.316vw, 5rem);
  --clamp-7-to-9: clamp(7rem, 6.474rem + 2.632vw, 9rem);
  --clamp-5-to-12: clamp(5rem, 3.158rem + 9.211vw, 12rem);
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-padding-top: var(--clamp-3-to-5);
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  color: var(--clr-white);
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
}

html,
body {
  background-color: var(--clr-gray);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

strong,
h3,
h4 {
  font-weight: 400;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

ul {
  list-style: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--clr-white);
  cursor: pointer;
}
