.section {
  padding: calc(var(--clamp-1-to-2) * 1.5) 1rem;
}

.container {
  width: 100%;
  max-width: 96rem;
  margin: 0 auto;
}

.section-heading {
  font-size: calc(var(--clamp-1-to-2) * 1.5);
  color: var(--clr-teal);
}

.section-separator {
  border-color: var(--clr-slate-500);
}